<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<script src="../static/js/jquery-3.3.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="../static/js/bootstrap.min.js"></script>

	<link href="../static/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div class="pos-f-t">
		<div class="collapse" id="navbarToggleExternalContent">
			<div class="bg-dark p-4">
				<h4 class="text-white">Menu</h4>
				<button type="button" class="btn btn-info" id="home-btn">Home</button>
				<button type="button" class="btn btn-info" id="users-btn">Users</button>
				<button type="button" class="btn btn-info" id="drives-btn">Drives</button>
				<button type="button" class="btn btn-info" id="shares-btn">Shares</button>
				<button type="button" class="btn btn-info" id="profile-btn">Profile</button>
				<a class="btn btn-info" href="logout" role="button">Sign Out</a>
			</div>
		</div>
		<nav class="navbar navbar-dark bg-dark">
			<span class="navbar-brand mb-0 h2" style="margin-left: 40%;">Insta-NAS</span>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
	</div>
	<div >
		<div id="system-info-table">
			<!-- Table -->
			<table class="table" style><thead class="thead-light"><th scope="row" style="text-align: center;">System Information</th></thead></table>
			<table class="table table-striped" id="sysinfo-table"></table>
		</div>
		<div id="user-list-table" style="display: none;">
			<!-- Table -->
			<table class="table" style><thead class="thead-light"><th scope="row" style="text-align: center;">Users</th></thead></table>
			<table class="table table-striped" id="users-table">
			</table>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-light" data-toggle="modal" data-target="#addUserModal">
			<svg height="32" class="octicon octicon-diff-added" viewBox="0 0 14 16" version="1.1" width="28" aria-hidden="true"><path fill-rule="evenodd" d="M13 1H1c-.55 0-1 .45-1 1v12c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zm0 13H1V2h12v12zM6 9H3V7h3V4h2v3h3v2H8v3H6V9z"></path></svg>
			</button>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-light" data-toggle="modal" data-target="#deleteUserModal">
			<svg height="32" class="octicon octicon-diff-removed" viewBox="0 0 14 16" version="1.1" width="28" aria-hidden="true"><path fill-rule="evenodd" d="M13 1H1c-.55 0-1 .45-1 1v12c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zm0 13H1V2h12v12zm-2-5H3V7h8v2z"></path></svg>
			</button>
			<button type="button" class="btn btn-light" data-toggle="modal" id="refreshUserList">
				<svg width="24" height="24" viewBox="0 0 24 24">
				    <path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
				    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>
			</button>
		</div>
		<div id="drive-list-table" style="display: none;">
			<!-- Table -->
			<table class="table" style><thead class="thead-light"><th scope="row" style="text-align: center;">Drives</th></thead></table>
			<table class="table table-striped" id="drives-table">
			</table>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-light" data-toggle="modal" data-target="#mountDriveModal">
				<svg width="24" height="24" viewBox="0 0 24 24">
				    <path d="M0 0h24v24H0z" fill="none"/>
				    <path d="M2 20h20v-4H2v4zm2-3h2v2H4v-2zM2 4v4h20V4H2zm4 3H4V5h2v2zm-4 7h20v-4H2v4zm2-3h2v2H4v-2z"/>
				</svg>
			</button>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-light" data-toggle="modal" data-target="#unmountDriveModal">
				<svg width="24" height="24" viewBox="0 0 24 24">
				    <path fill="none" d="M0 24V0h24v24H0z"/>
				    <path d="M5 17h14v2H5zm7-12L5.33 15h13.34z"/>
				</svg>
			</button>
			<button type="button" class="btn btn-light" data-toggle="modal" id="refreshDriveList">
				<svg width="24" height="24" viewBox="0 0 24 24">
				    <path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
				    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>
			</button>
		</div>
		<div id="share-list-table" style="display: none;">
			<!-- Table -->
			<table class="table" style><thead class="thead-light"><th scope="row" style="text-align: center;">Shares</th></thead></table>
			<table class="table table-striped" id="shares-table">
			</table>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-light" data-toggle="modal" data-target="#addShareModal">
			<svg height="32" class="octicon octicon-diff-added" viewBox="0 0 14 16" version="1.1" width="28" aria-hidden="true"><path fill-rule="evenodd" d="M13 1H1c-.55 0-1 .45-1 1v12c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zm0 13H1V2h12v12zM6 9H3V7h3V4h2v3h3v2H8v3H6V9z"></path></svg>
			</button>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-light" data-toggle="modal" data-target="#deleteShareModal">
			<svg height="32" class="octicon octicon-diff-removed" viewBox="0 0 14 16" version="1.1" width="28" aria-hidden="true"><path fill-rule="evenodd" d="M13 1H1c-.55 0-1 .45-1 1v12c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zm0 13H1V2h12v12zm-2-5H3V7h8v2z"></path></svg>
			</button>
			<button type="button" class="btn btn-light" data-toggle="modal" id="refreshShareList">
				<svg width="24" height="24" viewBox="0 0 24 24">
				    <path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
				    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>
			</button>
		</div>
		<div id="profile-table" style="display: none;">
			<!-- Table -->
			<table class="table" style><thead class="thead-light"><th scope="row" style="text-align: center;">Admin Profile</th></thead></table>
			<table class="table">
				<tr>
					<td>Username</td>
					<td id="td_user">{{user}}</td>
				</tr>
				<tr>
					<td>Password</td>
					<td>
						<table class="table">
							<tr>
								<td>Current</td>
								<td><input type="password" class="form-control" name="password_cur" placeholder="password" aria-describedby="sizing-addon1" required></td>
							</tr>
							<tr>
								<td>New</td>
								<td><input type="password" class="form-control" name="password_new" placeholder="password" aria-describedby="sizing-addon1" required></td>
							</tr>
							<tr>
								<td>Re-enter</td>
								<td><input type="password" class="form-control" name="password_new1" placeholder="password" aria-describedby="sizing-addon1" required></td>
							</tr>
							<tr>
								<td></td>
								<td><button class="btn btn-success" id="update_passwd" href="#Update">Update</button></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr style="visibility: hidden;">
					<td>User Secret</td>
					<td id="td_secret">{{secret}}</td>
				</tr>
				<tr>
					<td>Hostname</td>
					<td>
						<input type="text" class="form-control mb-2" id="hostNameInput" placeholder="hostname" aria-describedby="sizing-addon1" required>
						<button class="btn btn-success" id="updateHostname">Update</button>
					</td>
				</tr>
				<tr>

				</tr>
			</table>
		</div>
		<div class="alert"></div>
	</div>

	<!-- Add User Modal -->
	<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addUserModalLabel">Add User</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control mb-2" name="user" placeholder="Username" required autofocus id="userInput">
					<input type="password" class="form-control mb-2" name="password" placeholder="Password" required id="passwdInput">
					<input type="text" class="form-control mb-2" name="home" placeholder="/home/<username>" required autofocus id="homeInput">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" id="dontAddUserBtn">Dismiss</button>
						<button type="button" class="btn btn-primary" id="addUserBtn">Add</button>
					</div>
				</div>
			</div>
		</div>

	<!-- Add Share Modal -->
	<div class="modal fade" id="addShareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addUserModalLabel">Add Share</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control mb-2" name="name" placeholder="Sharename" required autofocus id="shareNameInput">
					<select class="custom-select" id="sharePathSelect">
						<option selected>Select path...</option>
					</select>
					<select class="custom-select" id="shareUserSelect">
						<option selected>Select user...</option>
					</select>
					<select class="custom-select" id="shareUserPermSelect">
						<option selected>Select permission...</option>
						<option value="read">Read Only</option>
						<option value="full">Read + Write</option>
					</select>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="guestOkCheck">
						<label class="form-check-label" for="defaultCheck1">
							Allow Guest
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" id="dontAddShareBtn">Dismiss</button>
					<button type="button" class="btn btn-primary" id="addShareBtn">Add</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Mount Drive Modal -->
	<div class="modal fade" id="mountDriveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addUserModalLabel">Mount Drive</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<select class="custom-select" id="mountDriveSelect">
						<option selected>Select drive...</option>
					</select>
					<input type="text" class="form-control mb-2" name="path" placeholder="Mountpath" required autofocus id="mountPathInput" disabled>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" id="dontMountDriveBtn">Dismiss</button>
					<button type="button" class="btn btn-primary" id="mountDriveBtn">Mount</button>
				</div>
			</div>
		</div>
	</div>

	<!-- UnMount Drive Modal -->
	<div class="modal fade" id="unmountDriveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addUserModalLabel">UnMount Drive</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<select class="custom-select" id="unmountDriveSelect">
						<option selected>Select drive...</option>
					</select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" id="dontUnmountDriveBtn">Dismiss</button>
					<button type="button" class="btn btn-primary" id="unmountDriveBtn">Unmount</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete User Modal -->
	<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<select class="custom-select" id="deleteUserSelect">
						<option selected>Select user...</option>
					</select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" id="dontDelUserBtn">Dismiss</button>
					<button type="button" class="btn btn-primary" id="deleteUserBtn">Delete</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete Share Modal -->
	<div class="modal fade" id="deleteShareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Delete Share</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<select class="custom-select" id="deleteShareSelect">
						<option selected>Select share...</option>
					</select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" id="dontDelShareBtn">Dismiss</button>
					<button type="button" class="btn btn-primary" id="deleteShareBtn">Delete</button>
				</div>
			</div>
		</div>
	</div>
	<script>
	function refresh_user_list(){
		$('#users-table').html("<thead class='thead-dark'><tr><th>Name</th><th>Home</th><th>Groups</th></tr></thead>");
		$('#deleteUserSelect').html('<option selected>Select user...</option>');
		$('#shareUserSelect').html('<option selected>Select user...</option>');
		var p1 = $.post('/api/user/list');
		p1.done(function( data ) {
			resp = JSON.parse(data);
			$('#users-table').append("<tbody>");
			resp['Users'].forEach(function(user) {
				var info = "<tr><td style='width: 33.33%;'>" + user['Name'] +
				"</td><td style='width: 33.33%;'>" + user['Home'] +
				"</td><td style='width: 33.33%;'>" +  user['Groups']+ "</td></tr>";
				$('#users-table').append(info);
				$('#deleteUserSelect').append('<option value="'+user['Name']+'">'+user['Name']+'</option>');
				$('#shareUserSelect').append('<option value="'+user['Name']+'">'+user['Name']+'</option>');
				//console.log(user);
			});
			$('#users-table').append("</tbody>");
		});
	}

	function refresh_share_list(){
		var p2 = $.post('/api/share/list');
		$('#shares-table').html("<thead class='thead-dark'><tr style='background-color: lightgrey;'><th>Name</th><th>Description</th><th>Path</th><th>Guest OK</th><th>ACL</th></tr></thead>");
		$('#deleteShareSelect').html('<option selected>Select share...</option>');
		p2.done(function( data ) {
			resp = JSON.parse(data);
			$('#shares-table').append("<tbody>");
			resp['Shares'].forEach(function(share) {
				var info = "<tr><td>" + share['Name'] + "</td><td>" + share['Comment'] + "</td><td>" +
				share['Path'] + "</td><td>" + share['Guest_Ok'] + "</td><td>" + share['Usershare_Acl'] + "</td></tr>";
				$('#shares-table').append(info);
				$('#deleteShareSelect').append('<option value="'+share['Name']+'">'+share['Name']+'</option>');
			});
			$('#shares-table').append("</tbody>");
			//console.log(resp);
		});
	}

	function refresh_drive_list(){
		var p = $.post('/api/drive/list');
		$('#drives-table').html("<thead class='thead-dark'><tr style='background-color: lightgrey;'><th>Model</th><th>Serial</th><th>Label</th><th>FileSystem</th><th>Path</th><th>Device</th></tr></thead>");
		$('#mountDriveSelect').html('<option selected>Select drive...</option>');
		$('#unmountDriveSelect').html('<option selected>Select drive...</option>');
		p.done(function( data ) {
			resp = JSON.parse(data);
			console.log(resp);
			$('#drives-table').append("<tbody>");
			resp['Drives'].forEach(function(drive) {
				if (drive['Partitions'].length > 0) {
					drive['Partitions'].forEach(function(part) {
						var info = "<tr><td>" + drive['Model'] + "</td><td>" + drive['Serial'] + "</td><td>" +
						part['Label'] + "</td><td>" + part['FileSystem'] + "</td><td>" + part['MountPath'] + "</td><td>" + part['Path'] + "</td></tr>";
						$('#drives-table').append(info);
						$('#mountDriveSelect').append('<option value="'+part['Path']+'" data-id="'+part['Label']+"_"+drive['Model']+'">'+drive['Model']+" "+part['Label']+" ("+drive['Serial']+')</option>');
						$('#unmountDriveSelect').append('<option value="'+part['Path']+'">'+drive['Model']+" "+part['Label']+" ("+drive['Serial']+')</option>');
					});
				}
				else {
					var info = "<tr><td>" + drive['Model'] + "</td><td>" + drive['Serial'] + "</td><td>" +
					drive['Label'] + "</td><td>" + drive['FileSystem'] + "</td><td>" + drive['MountPath'] + "</td><td>" + drive['Path'] + "</td></tr>";
					$('#drives-table').append(info);
					$('#mountDriveSelect').append('<option value="'+drive['Path']+'" data-id="'+drive['Label']+"_"+drive['Model']+'">'+drive['Model']+" "+drive['Label']+" ("+drive['Serial']+')</option>');
					$('#unmountDriveSelect').append('<option value="'+drive['Path']+'">'+drive['Model']+" "+drive['Label']+" ("+drive['Serial']+')</option>');
				}
			});
			$('#drives-table').append("</tbody>");
		});
	}

	function refresh_mount_list(){
		var p = $.post('/api/mount/list');
		$('#sharePathSelect').html('<option selected>Select path...</option>');
		p.done(function( data ) {
			resp = JSON.parse(data);
			resp['HomeList'].forEach(function(path) {
				$('#sharePathSelect').append('<option value="'+path+'">'+path+'</option>');
			});
			resp['MountList'].forEach(function(path) {
				$('#sharePathSelect').append('<option value="'+path+'">'+path+'</option>');
			});
			//console.log(resp);
		});
	}

	function refresh_sys_info(){
		var p = $.post('/api/sys/info');
		p.done(function( data ) {
			resp = JSON.parse(data);
			$('#sysinfo-table').append('<tbody><tr><th scope="row" style="text-align: center; width: 40%;">Hostname</th><td>' + resp['Hostname'] + "</td></tr>");
			$('#sysinfo-table').append('<tr><th scope="row" style="text-align: center; width: 40%;">OS</th><td>' + resp['OS'] + "</td></tr>");
			$('#sysinfo-table').append('<tr><th scope="row" style="text-align: center; width: 40%;">CPU</th><td>' + resp['CPU'] + "</td></tr>");
			$('#sysinfo-table').append('<tr><th scope="row" style="text-align: center; width: 40%;">Uptime</th><td>' + resp['Uptime'] + "</td></tr></tbody>");
			$('#hostNameInput').val(resp['Hostname']);
		});
	}

	$(function(){
		$('#user-list-table').hide();
		$('#share-list-table').hide();
		$('#profile-table').hide();
		$('.alert').hide();

		refresh_sys_info();
		refresh_user_list();
		refresh_share_list();
		refresh_mount_list();
		refresh_drive_list();

		$('#homeInput').focus(function(){
			$('#homeInput').val("/home/"+$('#userInput').val());
		});

		$('#refreshUserList').click(function(){
			$('.alert').hide();
			refresh_user_list();
		});

		$('#refreshShareList').click(function(){
			$('.alert').hide();
			refresh_share_list();
		});

		$('#refreshDriveList').click(function(){
			$('.alert').hide();
			refresh_drive_list();
			refresh_mount_list();
		});

		$("#home-btn").click(function() {
			$('.alert').hide();
			$('#system-info-table').show();
			$('#user-list-table').hide();
			$('#drive-list-table').hide();
			$('#share-list-table').hide();
			$('#profile-table').hide();
			$('#navbarToggleExternalContent').removeClass('show');
		});

		$("#users-btn").click(function() {
			$('.alert').hide();
			$('#system-info-table').hide();
			$('#user-list-table').show();
			$('#drive-list-table').hide();
			$('#share-list-table').hide();
			$('#profile-table').hide();
			$('#navbarToggleExternalContent').removeClass('show');
		});

		$("#drives-btn").click(function() {
			$('.alert').hide();
			$('#system-info-table').hide();
			$('#user-list-table').hide();
			$('#drive-list-table').show();
			$('#share-list-table').hide();
			$('#profile-table').hide();
			$('#navbarToggleExternalContent').removeClass('show');
		});

		$("#shares-btn").click(function() {
			$('.alert').hide();
			$('#system-info-table').hide();
			$('#user-list-table').hide();
			$('#drive-list-table').hide();
			$('#share-list-table').show();
			$('#profile-table').hide();
			$('#navbarToggleExternalContent').removeClass('show');
		});

		$("#profile-btn").click(function() {
			$('.alert').hide();
			$('#system-info-table').hide();
			$('#user-list-table').hide();
			$('#drive-list-table').hide();
			$('#share-list-table').hide();
			$('#profile-table').show();
			$('#navbarToggleExternalContent').removeClass('show');
		});

		$('#addUserBtn').click(function(){
			var name = $('#userInput').val();
			var passwd = $('#passwdInput').val();
			var home = $('#homeInput').val();

			if (name == "" || passwd == "")
				return;
			if (home == "")
				home = "/home/" + name;
			var p_add_user = $.post( '/api/user/add', JSON.stringify({ user: name, password: passwd, home: home }) );
			p_add_user.done(function( data ) {
				resp = JSON.parse(data);
				$('.alert').html(resp['Status']);
				if (resp['Status'].startsWith('Success')) {
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-warning');
					$('.alert').addClass('alert-success');
					$('.alert').show();
					refresh_user_list();
				}
				else{
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-success');
					$('.alert').addClass('alert-warning');
					$('.alert').show();
				}
				$('#userInput').val('');
				$('#passwdInput').val('');
				$('#homeInput').val('');
				$('#addUserModal').modal('hide');
			});
		});

		$('#dontAddUserBtn').click(function(){
			$('#userInput').val('');
			$('#passwdInput').val('');
			$('#homeInput').val('');
		});

		$('#deleteUserBtn').click(function(){
			var name = $('#deleteUserSelect').val();

			if (name == "")
				return;

			var p_del_user = $.post( '/api/user/delete', JSON.stringify({ user: name }) );
			p_del_user.done(function( data ) {
				resp = JSON.parse(data);
				$('.alert').html(resp['Status']);
				if (resp['Status'].startsWith('Success')) {
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-warning');
					$('.alert').addClass('alert-success');
					$('.alert').show();
					refresh_user_list();
				}
				else{
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-success');
					$('.alert').addClass('alert-warning');
					$('.alert').show();
				}
				$('#deleteUserSelect').val("Select user...")
				$('#deleteUserModal').modal('hide');
			});
		});

		$('#dontDelUserBtn').click(function(){
			$('#deleteUserSelect').val("Select user...")
		});

		$('#addShareBtn').click(function(){
			var name = $('#shareNameInput').val();
			var path = $('#sharePathSelect').val();
			var user = $('#shareUserSelect').val();
			var perm = $('#shareUserPermSelect').val();

			if (name == "" || path == "" || user == "" || perm == "")
				return;

			var args = {name: name, path: path, user: user, read: false, write: false, guest: false};
			if (perm == "read") {
				args['read'] = true;
				args['write'] = false;
			}
			else if (perm == "full") {
				args['read'] = true;
				args['write'] = true;
			}
			args['guest'] = $('#guestOkCheck').is(':checked');

			var p_add_share = $.post( '/api/share/add', JSON.stringify(args) );
			p_add_share.done(function( data ) {
				resp = JSON.parse(data);
				$('.alert').html(resp['Status']);
				if (resp['Status'].startsWith('Success')) {
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-warning');
					$('.alert').addClass('alert-success');
					$('.alert').show();
					refresh_share_list();
				}
				else{
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-success');
					$('.alert').addClass('alert-warning');
					$('.alert').show();
				}
				$('#shareNameInput').val("");
				$('#sharePathSelect').val("Select path...");
				$('#shareUserSelect').val("Select user...");
				$('#shareUserPermSelect').val("Select permission...");
				$('#guestOkCheck').prop('checked', false);
				$('#addShareModal').modal('hide');
			});
		});

		$('#dontAddShareBtn').click(function(){
			$('#guestOkCheck').prop('checked', false);
			$('#shareNameInput').val("");
			$('#sharePathSelect').val("Select path...");
			$('#shareUserSelect').val("Select user...");
			$('#shareUserPermSelect').val("Select permission...");
		});

		$('#deleteShareBtn').click(function(){
			var name = $('#deleteShareSelect').val();

			if (name == "")
				return;

			var p_del_share = $.post( '/api/share/delete', JSON.stringify({ name: name }) );
			p_del_share.done(function( data ) {
				resp = JSON.parse(data);
				$('.alert').html(resp['Status']);
				if (resp['Status'].startsWith('Success')) {
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-warning');
					$('.alert').addClass('alert-success');
					$('.alert').show();
					refresh_share_list();
				}
				else{
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-success');
					$('.alert').addClass('alert-warning');
					$('.alert').show();
				}
				$('#deleteShareSelect').val("Select share...")
				$('#deleteShareModal').modal('hide');
			});
		});

		$('#dontDelShareBtn').click(function(){
			$('#deleteShareSelect').val("Select share...")
		});

		$('#mountDriveSelect').change(function(){
			$('#mountPathInput').val("/mnt/"+$('#mountDriveSelect').find(':selected').data('id'));
		});

		$('#mountDriveBtn').click(function(){
			var device = $('#mountDriveSelect').val();
			var path = $('#mountPathInput').val();

			if (device == "" || path == "")
				return;

			var p_mnt_drv = $.post( '/api/drive/mount', JSON.stringify({ device: device, path: path }) );
			p_mnt_drv.done(function( data ) {
				resp = JSON.parse(data);
				$('.alert').html(resp['Status']);
				if (resp['Status'].startsWith('Success')) {
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-warning');
					$('.alert').addClass('alert-success');
					$('.alert').show();
					refresh_drive_list();
					refresh_mount_list();
				}
				else{
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-success');
					$('.alert').addClass('alert-warning');
					$('.alert').show();
				}
				$('#mountDriveSelect').val("Select drive...")
				$('#mountDriveModal').modal('hide');
			});
		});

		$('#dontMountDriveBtn').click(function(){
			$('#mountDriveSelect').val("Select drive...")
		});

		$('#unmountDriveBtn').click(function(){
			var device = $('#unmountDriveSelect').val();

			if (device == "")
				return;

			var p_mnt_drv = $.post( '/api/drive/unmount', JSON.stringify({ device: device }) );
			p_mnt_drv.done(function( data ) {
				resp = JSON.parse(data);
				$('.alert').html(resp['Status']);
				if (resp['Status'].startsWith('Success')) {
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-warning');
					$('.alert').addClass('alert-success');
					$('.alert').show();
					refresh_drive_list();
					refresh_mount_list();
				}
				else{
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-success');
					$('.alert').addClass('alert-warning');
					$('.alert').show();
				}
				$('#unmountDriveSelect').val("Select drive...")
				$('#unmountDriveModal').modal('hide');
			});
		});

		$('#dontUnmountDriveBtn').click(function(){
			$('#unmountDriveSelect').val("Select drive...")
		});

		$('#updateHostname').click(function() {
			var name = $('#hostNameInput').val();
			var p_hostname = $.post( '/api/sys/hostname/set', JSON.stringify({ name: name }) );
			p_hostname.done(function( data ) {
				resp = JSON.parse(data);
				$('.alert').html(resp['Status']);
				if (resp['Status'].startsWith('Success')) {
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-warning');
					$('.alert').addClass('alert-success');
					$('.alert').show();
					refresh_sys_info();
				}
				else{
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-success');
					$('.alert').addClass('alert-warning');
					$('.alert').show();
				}
			});
		});

		$("#update_passwd").click(function() {
			var old_passwd=$(document).find( "input[name='password_cur']" ).val();
			var new_passwd=$(document).find( "input[name='password_new']" ).val();
			var new_passwd1=$(document).find( "input[name='password_new1']" ).val();
			var user=$('#td_user').html();
			var secret=$('#td_secret').html();

			if (new_passwd != new_passwd1) {
				$('.alert').html("Passwords dont match; please re-enter!");
				$('.alert').removeClass('alert-danger');
				$('.alert').removeClass('alert-success');
				$('.alert').addClass('alert-warning');
				$('.alert').show();
				return;
			}

			// Send the data using post
			var posting = $.post( '/api/admin/update',
			JSON.stringify({user: user,
				password: old_passwd,
				new_password: new_passwd,
				secret: secret}) );

				// Put the results in a div
				posting.done(function( data ) {
					resp = JSON.parse(data);
					$('.alert').html(resp['Status']);
					if (resp['Result'] == 'Success') {
						$('.alert').removeClass('alert-danger');
						$('.alert').removeClass('alert-warning');
						$('.alert').addClass('alert-success');
						$('.alert').show();
					}
					else{
						$('.alert').removeClass('alert-danger');
						$('.alert').removeClass('alert-success');
						$('.alert').addClass('alert-warning');
						$('.alert').show();
					}
				});
			});
		});
	</script>
</body>
</html>
