<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<script src="../static/js/jquery-3.3.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="../static/js/bootstrap.min.js"></script>

	<link href="../static/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div class="pos-f-t">
		<div class="collapse" id="navbarToggleExternalContent">
			<div class="bg-dark p-4">
				<h4 class="text-white">Menu</h4>
				<button type="button" class="btn btn-info" id="home-btn">Home</button>
				<button type="button" class="btn btn-info" id="users-btn">Users</button>
				<button type="button" class="btn btn-info" id="shares-btn">Shares</button>
				<button type="button" class="btn btn-info" id="profile-btn">Profile</button>
				<a class="btn btn-info" href="logout" role="button">Sign Out</a>
			</div>
		</div>
		<nav class="navbar navbar-dark bg-dark">
			<span class="navbar-brand mb-0 h2" style="margin-left: 40%;">Insta-NAS</span>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
	</div>
	<div >
		<div id="system-info-table">
			<!-- Table -->
			<table class="table" style><thead class="thead-light"><th scope="row" style="text-align: center;">System Information</th></thead></table>
			<table class="table table-striped" id="sysinfo-table"></table>
		</div>
		<div id="user-list-table" style="display: none;">
			<!-- Table -->
			<table class="table" style><thead class="thead-light"><th scope="row" style="text-align: center;">Users</th></thead></table>
			<table class="table table-striped" id="users-table">
			</table>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-light" data-toggle="modal" data-target="#addUserModal">
			<svg height="32" class="octicon octicon-plus" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M12 9H7v5H5V9H0V7h5V2h2v5h5v2z"></path></svg>
			</button>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-light" data-toggle="modal" data-target="#deleteUserModal">
			<svg height="32" class="octicon octicon-dash" viewBox="0 0 8 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M0 7v2h8V7H0z"></path></svg>
			</button>
			<button type="button" class="btn btn-light" data-toggle="modal" id="refreshUserList">
			<svg height="32" class="octicon octicon-sync" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M10.24 7.4a4.15 4.15 0 0 1-1.2 3.6 4.346 4.346 0 0 1-5.41.54L4.8 10.4.5 9.8l.6 4.2 1.31-1.26c2.36 1.74 5.7 1.57 7.84-.54a5.876 5.876 0 0 0 1.74-4.46l-1.75-.34zM2.96 5a4.346 4.346 0 0 1 5.41-.54L7.2 5.6l4.3.6-.6-4.2-1.31 1.26c-2.36-1.74-5.7-1.57-7.85.54C.5 5.03-.06 6.65.01 8.26l1.75.35A4.17 4.17 0 0 1 2.96 5z"></path></svg>
			</button>
		</div>
		<div id="share-list-table" style="display: none;">
			<!-- Table -->
			<table class="table" style><thead class="thead-light"><th scope="row" style="text-align: center;">Shares</th></thead></table>
			<table class="table table-striped" id="shares-table">
			</table>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-light" data-toggle="modal" data-target="#addShareModal">
			<svg height="32" class="octicon octicon-plus" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M12 9H7v5H5V9H0V7h5V2h2v5h5v2z"></path></svg>
			</button>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-light" data-toggle="modal" data-target="#deleteShareModal">
			<svg height="32" class="octicon octicon-dash" viewBox="0 0 8 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M0 7v2h8V7H0z"></path></svg>
			</button>
			<button type="button" class="btn btn-light" data-toggle="modal" id="refreshShareList">
			<svg height="32" class="octicon octicon-sync" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M10.24 7.4a4.15 4.15 0 0 1-1.2 3.6 4.346 4.346 0 0 1-5.41.54L4.8 10.4.5 9.8l.6 4.2 1.31-1.26c2.36 1.74 5.7 1.57 7.84-.54a5.876 5.876 0 0 0 1.74-4.46l-1.75-.34zM2.96 5a4.346 4.346 0 0 1 5.41-.54L7.2 5.6l4.3.6-.6-4.2-1.31 1.26c-2.36-1.74-5.7-1.57-7.85.54C.5 5.03-.06 6.65.01 8.26l1.75.35A4.17 4.17 0 0 1 2.96 5z"></path></svg>
			</button>
		</div>
		<div id="profile-table" style="display: none;">
			<!-- Table -->
			<table class="table" style><thead class="thead-light"><th scope="row" style="text-align: center;">Admin Profile</th></thead></table>
			<table class="table">
				<tr>
					<td>Username</td>
					<td id="td_user">{{user}}</td>
				</tr>
				<tr>
					<td>Password</td>
					<td>
						<table class="table">
							<tr>
								<td>Current</td>
								<td><input type="password" class="form-control" name="password_cur" placeholder="password" aria-describedby="sizing-addon1" required></td>
							</tr>
							<tr>
								<td>New</td>
								<td><input type="password" class="form-control" name="password_new" placeholder="password" aria-describedby="sizing-addon1" required></td>
							</tr>
							<tr>
								<td>Re-enter</td>
								<td><input type="password" class="form-control" name="password_new1" placeholder="password" aria-describedby="sizing-addon1" required></td>
							</tr>
							<tr>
								<td></td>
								<td><button class="btn btn-success" id="update_passwd" href="#Update">Update</button></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr style="visibility: hidden;">
					<td>User Secret</td>
					<td id="td_secret">{{secret}}</td>
				</tr>
				<tr>
					<td>Hostname</td>
					<td>
						<input type="text" class="form-control mb-2" id="hostNameInput" placeholder="hostname" aria-describedby="sizing-addon1" required>
						<button class="btn btn-success" id="updateHostname">Update</button>
					</td>
				</tr>
				<tr>

				</tr>
			</table>
		</div>
		<div class="alert"></div>
	</div>

	<!-- Add User Modal -->
	<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addUserModalLabel">Add User</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control mb-2" name="user" placeholder="Username" required autofocus id="userInput">
					<input type="password" class="form-control mb-2" name="password" placeholder="Password" required id="passwdInput">
					<input type="text" class="form-control mb-2" name="home" placeholder="/home/<username>" required autofocus id="homeInput">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" id="dontAddUserBtn">Dismiss</button>
						<button type="button" class="btn btn-primary" id="addUserBtn">Add</button>
					</div>
				</div>
			</div>
		</div>

	<!-- Add Share Modal -->
	<div class="modal fade" id="addShareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addUserModalLabel">Add Share</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control mb-2" name="name" placeholder="Sharename" required autofocus id="shareNameInput">
					<select class="custom-select" id="sharePathSelect">
						<option selected>Select path...</option>
					</select>
					<select class="custom-select" id="shareUserSelect">
						<option selected>Select user...</option>
					</select>
					<select class="custom-select" id="shareUserPermSelect">
						<option selected>Select permission...</option>
						<option value="read">Read Only</option>
						<option value="full">Read + Write</option>
					</select>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="guestOkCheck">
						<label class="form-check-label" for="defaultCheck1">
							Allow Guest
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" id="dontAddShareBtn">Dismiss</button>
					<button type="button" class="btn btn-primary" id="addShareBtn">Add</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete User Modal -->
	<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<select class="custom-select" id="deleteUserSelect">
						<option selected>Select user...</option>
					</select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" id="dontDelUserBtn">Dismiss</button>
					<button type="button" class="btn btn-primary" id="deleteUserBtn">Delete</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete Share Modal -->
	<div class="modal fade" id="deleteShareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Delete Share</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<select class="custom-select" id="deleteShareSelect">
						<option selected>Select share...</option>
					</select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" id="dontDelShareBtn">Dismiss</button>
					<button type="button" class="btn btn-primary" id="deleteShareBtn">Delete</button>
				</div>
			</div>
		</div>
	</div>
	<script>
	function refresh_user_list(){
		$('#users-table').html("<thead class='thead-dark'><tr><th>Name</th><th>Home</th><th>Groups</th></tr></thead>");
		$('#deleteUserSelect').html('<option selected>Select user...</option>');
		$('#shareUserSelect').html('<option selected>Select user...</option>');
		var p1 = $.post('/api/user/list');
		p1.done(function( data ) {
			resp = JSON.parse(data);
			$('#users-table').append("<tbody>");
			resp['Users'].forEach(function(user) {
				var info = "<tr><td style='width: 33.33%;'>" + user['Name'] +
				"</td><td style='width: 33.33%;'>" + user['Home'] +
				"</td><td style='width: 33.33%;'>" +  user['Groups']+ "</td></tr>";
				$('#users-table').append(info);
				$('#deleteUserSelect').append('<option value="'+user['Name']+'">'+user['Name']+'</option>');
				$('#shareUserSelect').append('<option value="'+user['Name']+'">'+user['Name']+'</option>');
				//console.log(user);
			});
			$('#users-table').append("</tbody>");
		});
	}

	function refresh_share_list(){
		var p2 = $.post('/api/share/list');
		$('#shares-table').html("<thead class='thead-dark'><tr style='background-color: lightgrey;'><th>Name</th><th>Description</th><th>Path</th><th>Guest OK</th><th>ACL</th></tr></thead>");
		$('#deleteShareSelect').html('<option selected>Select share...</option>');
		p2.done(function( data ) {
			resp = JSON.parse(data);
			$('#shares-table').append("<tbody>");
			resp['Shares'].forEach(function(share) {
				var info = "<tr><td>" + share['Name'] + "</td><td>" + share['Comment'] + "</td><td>" +
				share['Path'] + "</td><td>" + share['Guest_Ok'] + "</td><td>" + share['Usershare_Acl'] + "</td></tr>";
				$('#shares-table').append(info);
				$('#deleteShareSelect').append('<option value="'+share['Name']+'">'+share['Name']+'</option>');
			});
			$('#shares-table').append("</tbody>");
			//console.log(resp);
		});
	}

	function refresh_mount_list(){
		var p = $.post('/api/mount/list');
		$('#sharePathSelect').html('<option selected>Select path...</option>');
		p.done(function( data ) {
			resp = JSON.parse(data);
			resp['HomeList'].forEach(function(path) {
				$('#sharePathSelect').append('<option value="'+path+'">'+path+'</option>');
			});
			//console.log(resp);
		});
	}

	$(function(){
		$('#user-list-table').hide();
		$('#share-list-table').hide();
		$('#profile-table').hide();
		$('.alert').hide();

		var p = $.post('/api/sys/info');
		p.done(function( data ) {
			resp = JSON.parse(data);
			$('#sysinfo-table').append('<tbody><tr><th scope="row" style="text-align: center; width: 40%;">Hostname</th><td>' + resp['Hostname'] + "</td></tr>");
			$('#sysinfo-table').append('<tr><th scope="row" style="text-align: center; width: 40%;">OS</th><td>' + resp['OS'] + "</td></tr>");
			$('#sysinfo-table').append('<tr><th scope="row" style="text-align: center; width: 40%;">CPU</th><td>' + resp['CPU'] + "</td></tr>");
			$('#sysinfo-table').append('<tr><th scope="row" style="text-align: center; width: 40%;">Uptime</th><td>' + resp['Uptime'] + "</td></tr></tbody>");
			$('#hostNameInput').val(resp['Hostname']);
		});

		refresh_user_list();
		refresh_share_list();
		refresh_mount_list();

		$('#homeInput').focus(function(){
			$('#homeInput').val("/home/"+$('#userInput').val());
		});

		$('#refreshUserList').click(function(){
			refresh_user_list();
		});

		$('#refreshShareList').click(function(){
			refresh_share_list();
		});

		$("#home-btn").click(function() {
			$('#system-info-table').show();
			$('#user-list-table').hide();
			$('#share-list-table').hide();
			$('#profile-table').hide();
			$('#navbarToggleExternalContent').removeClass('show');
		});

		$("#users-btn").click(function() {
			$('#system-info-table').hide();
			$('#user-list-table').show();
			$('#share-list-table').hide();
			$('#profile-table').hide();
			$('#navbarToggleExternalContent').removeClass('show');
		});

		$("#shares-btn").click(function() {
			$('#system-info-table').hide();
			$('#user-list-table').hide();
			$('#share-list-table').show();
			$('#profile-table').hide();
			$('#navbarToggleExternalContent').removeClass('show');
		});

		$("#profile-btn").click(function() {
			$('#system-info-table').hide();
			$('#user-list-table').hide();
			$('#share-list-table').hide();
			$('#profile-table').show();
			$('#navbarToggleExternalContent').removeClass('show');
		});

		$('#addUserBtn').click(function(){
			var name = $('#userInput').val();
			var passwd = $('#passwdInput').val();
			var home = $('#homeInput').val();

			if (name == "" || passwd == "")
				return;
			if (home == "")
				home = "/home/" + name;
			var p_add_user = $.post( '/api/user/add', JSON.stringify({ user: name, password: passwd, home: home }) );
			p_add_user.done(function( data ) {
				resp = JSON.parse(data);
				$('.alert').html(resp['Status']);
				if (resp['Status'].startsWith('Success')) {
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-warning');
					$('.alert').addClass('alert-success');
					$('.alert').show();
					refresh_user_list();
				}
				else{
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-success');
					$('.alert').addClass('alert-warning');
					$('.alert').show();
				}
				$('#userInput').val('');
				$('#passwdInput').val('');
				$('#homeInput').val('');
				$('#addUserModal').modal('hide');
			});
		});

		$('#dontAddUserBtn').click(function(){
			$('#userInput').val('');
			$('#passwdInput').val('');
			$('#homeInput').val('');
		});

		$('#deleteUserBtn').click(function(){
			var name = $('#deleteUserSelect').val();

			if (name == "")
				return;

			var p_del_user = $.post( '/api/user/delete', JSON.stringify({ user: name }) );
			p_del_user.done(function( data ) {
				resp = JSON.parse(data);
				$('.alert').html(resp['Status']);
				if (resp['Status'].startsWith('Success')) {
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-warning');
					$('.alert').addClass('alert-success');
					$('.alert').show();
					refresh_user_list();
				}
				else{
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-success');
					$('.alert').addClass('alert-warning');
					$('.alert').show();
				}
				$('#deleteUserSelect').val("Select user...")
				$('#deleteUserModal').modal('hide');
			});
		});

		$('#dontDelUserBtn').click(function(){
			$('#deleteUserSelect').val("Select user...")
		});

		$('#addShareBtn').click(function(){
			var name = $('#shareNameInput').val();
			var path = $('#sharePathSelect').val();
			var user = $('#shareUserSelect').val();
			var perm = $('#shareUserPermSelect').val();

			if (name == "" || path == "" || user == "" || perm == "")
				return;

			var args = {name: name, path: path, user: user, read: false, write: false, guest: false};
			if (perm == "read") {
				args['read'] = true;
				args['write'] = false;
			}
			else if (perm == "full") {
				args['read'] = true;
				args['write'] = true;
			}
			args['guest'] = $('#guestOkCheck').is(':checked');

			var p_add_share = $.post( '/api/share/add', JSON.stringify(args) );
			p_add_share.done(function( data ) {
				resp = JSON.parse(data);
				$('.alert').html(resp['Status']);
				if (resp['Status'].startsWith('Success')) {
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-warning');
					$('.alert').addClass('alert-success');
					$('.alert').show();
					refresh_share_list();
				}
				else{
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-success');
					$('.alert').addClass('alert-warning');
					$('.alert').show();
				}
				$('#shareNameInput').val("");
				$('#sharePathSelect').val("Select path...");
				$('#shareUserSelect').val("Select user...");
				$('#shareUserPermSelect').val("Select permission...");
				$('#guestOkCheck').prop('checked', false);
				$('#addShareModal').modal('hide');
			});
		});

		$('#dontAddShareBtn').click(function(){
			$('#guestOkCheck').prop('checked', false);
			$('#shareNameInput').val("");
			$('#sharePathSelect').val("Select path...");
			$('#shareUserSelect').val("Select user...");
			$('#shareUserPermSelect').val("Select permission...");
		});

		$('#deleteShareBtn').click(function(){
			var name = $('#deleteShareSelect').val();

			if (name == "")
				return;

			var p_del_share = $.post( '/api/share/delete', JSON.stringify({ name: name }) );
			p_del_share.done(function( data ) {
				resp = JSON.parse(data);
				$('.alert').html(resp['Status']);
				if (resp['Status'].startsWith('Success')) {
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-warning');
					$('.alert').addClass('alert-success');
					$('.alert').show();
					refresh_share_list();
				}
				else{
					$('.alert').removeClass('alert-danger');
					$('.alert').removeClass('alert-success');
					$('.alert').addClass('alert-warning');
					$('.alert').show();
				}
				$('#deleteShareSelect').val("Select share...")
				$('#deleteShareModal').modal('hide');
			});
		});

		$('#dontDelShareBtn').click(function(){
			$('#deleteShareSelect').val("Select share...")
		});

		$("#update_passwd").click(function() {
			var old_passwd=$(document).find( "input[name='password_cur']" ).val();
			var new_passwd=$(document).find( "input[name='password_new']" ).val();
			var new_passwd1=$(document).find( "input[name='password_new1']" ).val();
			var user=$('#td_user').html();
			var secret=$('#td_secret').html();

			if (new_passwd != new_passwd1) {
				$('.alert').html("Passwords dont match; please re-enter!");
				$('.alert').removeClass('alert-danger');
				$('.alert').removeClass('alert-success');
				$('.alert').addClass('alert-warning');
				$('.alert').show();
				return;
			}

			// Send the data using post
			var posting = $.post( '/api/admin/update',
			JSON.stringify({user: user,
				password: old_passwd,
				new_password: new_passwd,
				secret: secret}) );

				// Put the results in a div
				posting.done(function( data ) {
					resp = JSON.parse(data);
					$('.alert').html(resp['Status']);
					if (resp['Result'] == 'Success') {
						$('.alert').removeClass('alert-danger');
						$('.alert').removeClass('alert-warning');
						$('.alert').addClass('alert-success');
						$('.alert').show();
					}
					else{
						$('.alert').removeClass('alert-danger');
						$('.alert').removeClass('alert-success');
						$('.alert').addClass('alert-warning');
						$('.alert').show();
					}
				});
			});
		});
	</script>
</body>
</html>
